@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
  
  body{
    @apply font-roboto  ;
  }
}

@layer utilities {
  .text-outline {
    position: relative;
    color: transparent;
  }

  .text-outline::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-text-stroke: 1px #d4000d; /* Define a cor da borda aqui */
  }
}
  h1,h2,h3,h4,h5,h6{
    @apply  font-oswald font-bold uppercase;
  }

  .h1{
    @apply text-white text-7xl sm:text-[50px] text-[60px] lg:text-[128px] tracking-[-3px]
  }

  .h2{
    @apply text-[26px] lg:text-[36px]
  }

  .h3{
    @apply text-[32px]
  }

  .h4{
    @apply text-[26px]
  }

  .h5{
    @apply text-[22px]
  }

  .active{
    @apply text-accent;
  }
.shadow-inner-smoke {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  /* Ajuste os valores acima para obter o efeito desejado */
}
  /* swiper pagination styles*/
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    @apply bg-accent; 
  }
